@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.AspNetCore.Http
@inject HttpClient Http

<h1>Welcome to SignalR with blazor</h1>
<button class="btn btn-success" @onclick="async () => await ConnectToServer()" disabled="@isConnected">Connect</button>

<h3>Connection Status: @connectionStatus</h3>
<div class="row">
    <div class="col-4">
        @foreach(var item in notifications)
        {
            <div class="row">
                <h4>@item</h4>
            </div>
        }
    </div>
</div>


@code {
    string url = null;  

    HubConnection _connection = null;
    bool isConnected = false;
    string connectionStatus = "Closed";

    List<string> notifications = new List<string>();

        protected override void OnInitialized()
        {
            url = Http.BaseAddress.AbsoluteUri + "notificationshub";
        Console.WriteLine(url);
        }

        private async Task ConnectToServer()
    {
        _connection = new HubConnectionBuilder().WithUrl(url).Build();

        await _connection.StartAsync();
        connectionStatus = "Connected";
        isConnected = true;


        _connection.Closed += async s =>
        {
            isConnected = false;
            connectionStatus = "Disconnected";
            await _connection.StartAsync();
            isConnected = true;
            connectionStatus = "Connected";
        };

        _connection.On<string>("notification", m =>
        {
            notifications.Add(m);
            StateHasChanged();
        });

    }
}